<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barmate</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="liquorType" type="text" class="ghost-input" placeholder="Enter a Liquor Type" required>
          <input type="submit" class="ghost-button" value="Get Recipes">
        </form>
        <br>
        <br>
        <form action="/" method="post">
          <input name="drinkName" type="text" class="ghost-input" placeholder="Enter a Drink Name" required>
          <input type="submit" class="ghost-button" value="Get Drink">
        </form>
        <br>
        
     <form id="tableForm" action="/getSearch" method="get">
       <select  name="searchpicker">
        <optgroup label="Search by">
			<option name="" value="0">Search by</option>
            <option name="liquor" value="1">Liquor</option>
            <option name="drink" value="2">Drink Name</option>
        </optgroup>
       </select>
     <input type="submit" />
    </form> 
      
        <% if(data !== null){ %>
			<table>
				<% for(var i=0; i < data.length; i++) { %>
					<tr>
						<td><img src="<%= data[i].strDrinkThumb %>" width="100" height="100" alt=""></td>
						<td>
						<a href='recipe/recipe?id=<%= data[i].idDrink %>'>
                        <%= data[i].strDrink %></td>
					</tr>
				<% } %>
			</table>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
