<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barmate</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
	     <form id="tableForm" action="/getSearch" method="post">
	       <select  name="searchByPicker">
	        <optgroup label="Search by">
				<option name="" value="0">Search by</option>
	            <option name="liquor" value="liquor">Liquor</option>
	            <option name="drink" value="drinkName">Drink Name</option>
	        </optgroup>
	       </select>
	     <input type="submit" />
	    </form> 
	    <br><br>
	    <form id="inventoryForm" action="/viewInventory" method="get">
	     <input type="submit" value="View Inventory"/>
	    </form> 
		<% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
