<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barmate - Recipe Details</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
		<% if(data !== null){ %>
			<table>
				<% for(var i=0; i < data.length; i++) { %>
					<tr>
						<td><img src="<%= data[i].strDrinkThumb %>" width="100" height="100" alt=""></td>
					</tr>
					<tr>
						<td><%= data[i].strDrink %></td>
					</tr>
					<tr>
						<td><%= data[i].strInstructions %></td>
					</tr>
				<% } %>
			</table>
        <% } %>
		<% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
